@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

body{
    background-color: rgb(221, 215, 215);
}


h1{
    text-align: center;
    
}
h2{
    font-size: 18px;
    text-align: center;
}
.tekst{
    color:whitesmoke;
    margin: 14px;
    text-align: center;
    background: url('photo.jpg')
}

#Title, #moonInfo{
    /* font-size: 14px; */
    text-align: center;

    margin-top: 0;
    margin-bottom: 2px;

    font-family: 'Noto Sans', sans-serif;
}

.img{
    border: 2px solid black;
    overflow-x: auto;
    overflow-y: hidden;
}

#PlanLegend{
    position: relative;
    left: 2%;

    margin: -16px 0;
    height: 100%;
    min-height: 42px;
}

#PlanPlot{
    margin: -10px 0;

    display: block;
    margin-left: auto;
    margin-right: auto;

    max-width: 100%;
}

#tableWrapper{
    width: 100%;
    font-size: 14px;
    overflow-x: auto;
}

table{
    width: 100%;
    border: 1px;
    border-color: #333333;
    background-color: #ffffff;
    text-align: center;

    border-collapse: separate;
}

table th,
table td {
    border: solid 1px;
    padding: 2px 4px;
}

#noTargets{
    text-align: center;
    font-size: 18px;
    font-weight: bold;

    font-family: 'Noto Sans', sans-serif;
}

.by{
    color:rgb(210, 210, 210);
    text-align: right;
}


#comments{
    font-size: 14px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}