body{
    font-family: sans-serif;

    /* width: fit-content; */
}

#Title, #moonInfo{
    font-size: 14px;

    text-align: center;

    margin-top: 0;
    margin-bottom: 2px;
}

#PlanPlot{
    display: block;
    margin-left: auto;
    margin-right: auto;

    max-width: 100%;
}


#tableWrapper{
    /* width: calc(100vw - 18px); */
    width: 100%;
    font-size: 14px;
    overflow-x: auto;
}
table{
    display: inline-table;
    /* table-layout: fixed; */
    width: 100%;
    border-collapse: collapse;
    border: 1.5px solid black;
    word-break: keep-all;
}

table th,
table td {
    border: solid 1px;
    padding: 2px 4px;
}

#comments{
    font-size: 14px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}